@charset "UTF-8";

@if $enable-buttons == true {
    .button {
        @include interact(background, rgba($color-brand, .85));
        @include font(1.4rem,1.4rem);
        position: relative;
        display: inline-block;
        padding: 2rem 2.75rem;
        background: $color-brand;
        box-shadow: 0 1.3rem 2.8rem 0 rgba(9, 93, 187, 0.16);
        border-radius: 2.5rem;
        //border: 2px dashed $color-base;
        font-family: $font-family-bold;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        transition: $transition-duration-medium;

        @at-root a#{&} {
            text-decoration: none;
        }

        &--transparent {
            @include interact(background, transparent);
            @include interact(opacity, .85);
            padding: 1.7rem 2.45rem;
            border: solid .3rem $color-brand;
            background: transparent;
        }

        &--map {
            display: inline-flex;
            align-items: center;
            padding: 1.2rem 2.45rem;

            @include mq(md) {
                padding: 1.2rem 2.45rem;
            }

            > img {
                margin-right: 1.5rem;
                vertical-align: top;

                @include mq(xs) {
                    display: none;
                }
            }

            > span {
                display: block;
                color: $color-brand;
            }
        }

        &:disabled {
            opacity: .2;
        }

        &:active {
            transform: translateY(.2rem);
        }
    }
}
