@charset "UTF-8";

@if $enable-buttons == true {
    .button {
        @include interact(background, rgba($color-brand, .9));
        @include font(1.4rem,1.4rem);
        position: relative;
        display: inline-block;
        padding: 2rem 3rem;
        background: $color-brand;
        box-shadow: 0 1.3rem 2.8rem 0 rgba(9, 93, 187, 0.16);
        border-radius: 2.5rem;
        //border: 2px dashed $color-base;
        font-family: $font-family-bold;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        transition: $transition-duration-medium;

        @at-root a#{&} {
            text-decoration: none;
        }

        &:disabled {
            opacity: .2;
        }

        &:active {
            transform: translateY(.2rem);
        }

        &--medium {
            padding: 1rem 3rem;
            min-width: 12rem;
        }
    }
}
