@charset "UTF-8";

.content {
  background: $color-body-background;
  padding-top: 14.8rem; // magic number

  @include mq(sm) {
    padding-top: 18rem; // magic number
  }

  @include mq(md) {
    padding-top: 12rem; // magic number
  }
}

.content-grid {
  @include mq(sm) {
    @include grid(x,flex-start,flex-start,2);
    flex-wrap: wrap;
  }

  &__header {

    &.is-xs {
      display: none;

      @include mq(xs) {
        display: block;
      }
    }

    &.is-sm {
      display: none;

      @include mq(sm) {
        display: block;
      }
    }

    @include mq(xs) {
      margin-bottom: 5rem;
    }

    @include mq(xl) {
      padding-top: 4rem;
    }

    > h1,
    > h2 {

    }

    > h1 {
      @include h1;

      @include mq(xl) {
        margin-bottom: 1rem;
      }
    }

    > h2 {
      @include h2;
      @include mq(xl) {
        margin-bottom: 3rem;
      }
    }

    &--not-top-gutter {

      @include mq(xl) {
        padding-top: 0;
      }
    }
  }

  &__image,
  &__description {

  }

  &__image {
    position: relative;
    z-index: 90;

    @include mq(xs) {
      margin: 0 -1.5rem 3rem;
      overflow: hidden;
    }

    @include mq(sm) {
      @include grid-col(2);
      @include col-size(3.5/10);
    }

    @include mq(xl) {
      @include col-size(1/2);
      padding-left: 12rem; // magic number
    }

    img {
      display: block;
      margin: 0 auto;
      width: auto;
      height: auto;
      vertical-align: top;
      transform: translateX(8%);

      @include mq(xl) {
        transform: translateX(0);
      }

      &.is-xs {
        display: none;

        @include mq(xs) {
          display: block;
        }


        + img {
          @include mq(xs) {
            display: none !important;
          }
        }
      }
    }
  }

  &__description {

    @include mq(sm) {
      @include grid-col(2);
      @include col-size(6.5/10);
    }

    @include mq(xl) {
      @include col-size(1/2);
    }

    &:empty {
      display: none;
    }
  }

  &__option-box {
    display: none;
    width: 100%;
    text-align: center;

    @include mq(xl) {
      display: block;
    }
  }

  &__button-box {
    margin-top: 3rem;

    @include mq(xs) {
      text-align: center;
    }

    @include mq(xl) {
      margin-top: 5rem;
    }

    > .button {
      &:not(:first-child) {
        display: none;

        @include mq(xl) {
          display: inline-block;
          margin-left: 5rem;
        }
      }
    }
  }

  &--promo {
    margin: 0;

    .content-grid__header {

      &.is-xs {
        display: none;

        @include mq(xs) {
          display: none
        }
      }

      &.is-sm {
        display: block;

        @include mq(xs) {
          display: block;
          margin-bottom: 1.5rem;
        }
      }
    }

    .content-grid__image {
      @include mq(xs) {
        margin-bottom: 0;
        padding-bottom: 18rem;
      }

      @include mq(xl) {
        z-index: 99;
      }
    }

    .content-grid__description {
      @include mq(xs) {
        margin-top: -15rem;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1379px) {
      display: block;

      .content-grid__image, .content-grid__description {
        width: 100%;
        padding: 0;
      }

      .content-grid__image {
        width: 33rem;
        margin: 0 auto 3rem;
      }
    }
  }
}