@charset "UTF-8";

.switch-popup-button {
  &.is-active {
    + .information-popup-fade {
      display: block;

      + .information-popup {
        @include mq(xs) {
          display: flex;
        }

        @include mq(sm) {
          display: flex;
        }

        + .information-popup__body {
          @include mq(sm) {
            display: block
          }
        }
      }
    }
  }
}

.information-popup-fade,
.information-popup {
  position: fixed;
  z-index: 200;
  display: none;
}

.information-popup-fade {
  @include size(100%);
  top: 0;
  left: 0;
  background-color: rgba($color-brand, .7);
}

.information-popup {

  @include mq(xs) {
    @include size(100%);
    top: 0;
    left: 0;
  }

  @include mq(sm) {
    top: 50%;
    left: 50%;
    z-index: 200;
    transform: translate(-50%,-50%);
    justify-content: center;
    align-items: center;
  }

  &__body {
    padding: 5rem 2rem 2rem;
    background: #fff;
    text-align: center;
    min-height: 200px;

    @include mq(xs) {
      @include size(100%);
      position: absolute;
      top: 0;
      left: 0;
      overflow-y: auto;
    }

    @include mq(sm) {
      @include size(60rem,auto);
      padding: 4rem 3rem;
      border-radius: $border-radius-base;
    }

    > h2 {
      margin-bottom: 2rem;
    }

    > p {
      @include text-large;
    }
  }

  &__button-box {
    margin-top: 2rem;
  }

  &__close {
    @include size(3.2rem);
    position: absolute;
    display: block;
    top: 1rem;
    right: 1rem;
    outline: none;

    @include mq(sm) {
      top: -4rem;
      right: -4rem;

      &:hover {
        &::before,
        &::after {
          background: $color-light;
        }
      }
    }

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: .3rem;
      transition: $transition-duration-medium;
      content: '';

      @include mq(xs) {
        background: $color-brand;
      }

      @include mq(sm) {
        background: #fff;
        border-radius: .3rem;
      }
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }


  }

}