@keyframes main-animation {

  from {
    opacity: 0;
    transform: translate(0,1rem);
  }

  to {
    opacity: 1;
    transform: translate(0,0);
  }
}

.site-header__logo-box,
.site-header__button-box > .button,
.home__col,
.content-grid__image,
.content-grid__description,
.content-grid__option-box {

  &:not(.not-animate) {
    opacity: 0;
    will-change: transform;
    animation: main-animation .6s linear .5s 1 alternate forwards;
  }
}