@charset "UTF-8";

.section-box {
  padding: 6rem 0;
  background: $color-section-background;

  &:first-child {
    @include mq(md) {
      padding-top: 16rem;
    }
  }

  @include mq(md) {
    padding: 7rem 0 10rem;
  }

  &:nth-child(2n) {
    background: $color-body-background;
  }
}