@charset "UTF-8";

.section-box {
  padding: 6rem 0;

  @include mq(md) {
    padding: 7rem 0 10rem;
  }

  &--alternative {
    background: $color-section-background;
  }

  &:nth-child(2n) {
    background: $color-section-background;
  }
}