@charset "UTF-8";

// Responsive
$mq-breakpoints: ( // for example: xs, sm, md, lg, xl
        'xs': 767px,
        'sm': 768px,
        'md': 1440px
);

$mq-indents: (
        'xs': 1.5rem,
        'sm': 3rem,
        'md': 4rem
);

$mq-container-widths: (
        'xs': 100%,
        'sm': 768px,
        'md': 1440px
);

$mq-container-indents: (
        'xs': map-get($mq-indents, 'xs'),
        'sm': map-get($mq-indents, 'sm'),
        'md': map-get($mq-indents, 'md')
);

$mq-grid-gutters: (
        'xs': map-get($mq-indents, 'xs'),
        'sm': map-get($mq-indents, 'sm'),
        'md': map-get($mq-indents, 'md')
);

// Not responsive
$indent: 2rem;

$container-width:  1680px;
$container-indent: $indent;

$grid-gutter: $indent;

// Border radius
$border-radius-small: .25rem;
$border-radius-base:   .5rem;
$border-radius-large: .75rem;

// Colors
$color-base:          #121212;
$color-light:    rgba($color-base, .8);
$color-lighter:  rgba($color-base, .6);
$color-lightest: rgba($color-base, .4);

$color-body-background: #f7f7f7;
$color-section-background: #f0f0f0;

$color-brand:         #095dbb;
$color-sound:         #9280bc;

$colo-border: #e0e0e0;

$color-error:         red;
$color-warning:       orange;
$color-success:       green;

// Fonts

$font-family-text:  "Proxima-Nova-Lt","HelveticaNeue","Helvetica Neue",sans-serif;
$font-family-title: "Proxima-Nova-Lt","HelveticaNeue","Helvetica Neue",sans-serif;
$font-family-bold: 'roxima-Nova-Bold',"HelveticaNeue","Helvetica Neue",sans-serif;
$font-weight-text:  300;
$font-weight-title: 300;
$font-weight-bold: 700;

// Forms
$checkbox-size: 3rem;
$radio-size:    3rem;

// Links
$color-link: rgba(blue, .8);

// Transitions
$transition-duration-base: .2s;
$transition-duration-medium: .6s;