@import url(stylesheets/vendors/normalize.css);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::selection {
  color: #fff;
  background: #095dbb; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  line-height: 1.5;
  position: relative;
  display: flex;
  min-height: 100vh;
  background: #f7f7f7;
  color: #121212;
  font-family: "Proxima-Nova-Lt", "HelveticaNeue", "Helvetica Neue", sans-serif;
  font-weight: 300;
  opacity: 0;
  animation: body-animation .3s linear .5s 1 alternate forwards; }
  @media all and (min-width: 768px) {
    body {
      font-size: 1.4rem;
      line-height: 1.57143; } }
  @media all and (min-width: 1440px) {
    body {
      font-size: 1.8rem;
      line-height: 1.44444; } }

@keyframes body-animation {
  from {
    opacity: 0;
    transform: translate(0.7rem, 1.5rem); }
  to {
    opacity: 1;
    transform: translate(0, 0); } }

#root {
  display: flex;
  width: 100%; }

header,
main,
footer {
  width: 100%; }

main {
  position: relative; }

a {
  color: rgba(0, 0, 255, 0.8);
  text-decoration: none;
  transition: all 0.2s;
  outline: none !important; }
  a.is-current {
    cursor: default; }
    a.is-current:visited, a.is-current:hover, a.is-current:active {
      color: inherit; }

button,
input,
select,
textarea {
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  font: inherit; }

fieldset {
  margin: 0;
  padding: 0;
  border: none; }

select {
  border-radius: 0; }

textarea {
  resize: none; }

h1 {
  font-family: "Proxima-Nova-Lt", "HelveticaNeue", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 3rem;
  line-height: 1.46667;
  margin: 0; }
  h1 a {
    text-decoration: none; }
  @media all and (min-width: 1440px) {
    h1 {
      font-size: 3.8rem;
      line-height: 1.15789; } }

h2 {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "roxima-Nova-Bold", "HelveticaNeue", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-weight: 700; }
  @media all and (min-width: 1440px) {
    h2 {
      font-size: 1.8rem;
      line-height: 1.33333; } }

h3 {
  font-family: "Proxima-Nova-Lt", "HelveticaNeue", "Helvetica Neue", sans-serif;
  font-size: 3.2rem;
  line-height: 1.1875;
  font-weight: 300; }
  h3 a {
    text-decoration: none; }
  @media all and (min-width: 768px) {
    h3 {
      font-size: 4rem;
      line-height: 1; } }

h4 {
  font-family: "Proxima-Nova-Lt", "HelveticaNeue", "Helvetica Neue", sans-serif;
  font-size: 3rem;
  line-height: 1;
  font-weight: 300; }
  h4 a {
    text-decoration: none; }

h5 {
  font-family: "Proxima-Nova-Lt", "HelveticaNeue", "Helvetica Neue", sans-serif;
  font-size: 1.8rem;
  line-height: 1.44444;
  font-weight: 300; }
  h5 a {
    text-decoration: none; }

h6 {
  font-family: "Proxima-Nova-Lt", "HelveticaNeue", "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  line-height: 1.57143;
  font-weight: 300; }
  h6 a {
    text-decoration: none; }

hr {
  border: none; }

img {
  max-width: 100%; }
  img[width], img[height] {
    max-width: none; }

figure {
  margin: 0; }

ol,
ul {
  list-style: none; }

small {
  font-size: 1.6rem;
  line-height: 1.5; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:disabled {
  cursor: not-allowed; }

.ui-helper-hidden-accessible {
  display: none; }

.ui-helper-hidden-accessible {
  display: none; }

.ui-autocomplete {
  position: absolute;
  z-index: 1001;
  max-height: 20rem;
  overflow-y: auto;
  background: #fff;
  border-right: 1px solid rgba(18, 18, 18, 0.4);
  border-bottom: 1px solid rgba(18, 18, 18, 0.4);
  border-left: 1px solid rgba(18, 18, 18, 0.4); }
  .ui-autocomplete .ui-menu-item-wrapper {
    padding: .5rem .75rem; }
    .ui-autocomplete .ui-menu-item-wrapper.ui-state-active {
      background: #eee; }

.ui-datepicker {
  position: absolute;
  z-index: 1001;
  display: none;
  padding: .75rem 1rem 1rem;
  background: #fff;
  border-right: 1px solid rgba(18, 18, 18, 0.4);
  border-bottom: 1px solid rgba(18, 18, 18, 0.4);
  border-left: 1px solid rgba(18, 18, 18, 0.4); }
  .ui-datepicker .ui-datepicker-header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
      order: 1;
      padding: .5rem; }
      .ui-datepicker .ui-datepicker-header .ui-datepicker-prev .ui-icon {
        width: 1rem;
        height: 0.5rem;
        display: block;
        border-top: .5rem solid transparent;
        border-bottom: .5rem solid transparent;
        border-right: 0.75rem solid #969696; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-title {
      order: 2;
      flex: 1;
      padding: .5rem;
      text-align: center; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
      order: 3;
      padding: .5rem; }
      .ui-datepicker .ui-datepicker-header .ui-datepicker-next .ui-icon {
        width: 1rem;
        height: 0.5rem;
        display: block;
        border-top: .5rem solid transparent;
        border-bottom: .5rem solid transparent;
        border-left: 0.75rem solid #969696; }

.ui-datepicker-calendar {
  width: 100%; }
  .ui-datepicker-calendar th,
  .ui-datepicker-calendar td {
    text-align: right; }
  .ui-datepicker-calendar thead th {
    padding: .5rem; }
  .ui-datepicker-calendar tbody td .ui-state-default {
    display: block;
    padding: .5rem;
    text-decoration: none; }
  .ui-datepicker-calendar tbody td.ui-datepicker-today .ui-state-default {
    background: #eee; }
  .ui-datepicker-calendar tbody td.ui-datepicker-current-day .ui-state-default {
    background: #636363;
    color: #fff; }

.ui-selectmenu-button {
  position: relative;
  display: block;
  width: 100%;
  padding: .5rem 2.5rem .5rem .75rem;
  border: 1px solid rgba(18, 18, 18, 0.4);
  cursor: default; }
  .ui-selectmenu-button .ui-selectmenu-icon {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    display: block;
    pointer-events: none;
    border-top: 0.4rem solid #969696;
    border-right: .4rem solid transparent;
    border-left: .4rem solid transparent; }
  .ui-selectmenu-button .ui-selectmenu-text {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    vertical-align: top; }
    .ui-selectmenu-button .ui-selectmenu-text.ui-state-placeholder {
      color: #969696; }

.ui-selectmenu-menu {
  position: absolute;
  z-index: 1001;
  display: none; }
  .ui-selectmenu-menu.ui-selectmenu-open {
    display: block; }
  .ui-selectmenu-menu .ui-menu {
    max-height: calc(14.5rem + 1px);
    background: #fff;
    border-right: 1px solid rgba(18, 18, 18, 0.4);
    border-bottom: 1px solid rgba(18, 18, 18, 0.4);
    border-left: 1px solid rgba(18, 18, 18, 0.4);
    overflow: auto; }
  .ui-selectmenu-menu .ui-menu-item.ui-state-disabled {
    display: none; }
  .ui-selectmenu-menu .ui-menu-item-wrapper {
    padding: .5rem .75rem; }
    .ui-selectmenu-menu .ui-menu-item-wrapper.ui-state-active {
      background: #eee; }

.button {
  font-size: 1.4rem;
  line-height: 1;
  position: relative;
  display: inline-block;
  padding: 2rem 2.75rem;
  background: #095dbb;
  box-shadow: 0 1.3rem 2.8rem 0 rgba(9, 93, 187, 0.16);
  border-radius: 2.5rem;
  font-family: "roxima-Nova-Bold", "HelveticaNeue", "Helvetica Neue", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  transition: 0.6s; }
  .mod_no-touchevents .button:hover, .mod_no-touchevents .button.hover {
    background: rgba(9, 93, 187, 0.85); }
  a.button {
    text-decoration: none; }
  .button--transparent {
    padding: 1.7rem 2.45rem;
    border: solid .3rem;
    background: transparent;
    box-shadow: none;
    color: #095dbb; }
    .mod_no-touchevents .button--transparent:hover, .mod_no-touchevents .button--transparent.hover {
      background: transparent; }
    .mod_no-touchevents .button--transparent:hover, .mod_no-touchevents .button--transparent.hover {
      opacity: 0.85; }
    .button--transparent > span {
      display: block; }
  .button--transparent-alternative {
    color: #fff; }
  .button--map {
    display: inline-flex;
    align-items: center;
    padding: 1.2rem 2.45rem; }
    .button--map > img {
      margin-right: 1.5rem;
      vertical-align: top; }
      @media all and (max-width: 767px) {
        .button--map > img {
          display: none; } }
  .button--next {
    display: inline-flex;
    align-items: center;
    padding: 1.2rem 2.45rem; }
    .button--next > img {
      vertical-align: top; }
  .button:disabled {
    opacity: .2; }
  .button:active {
    transform: translateY(0.2rem); }

.input > input {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  border: 1px solid rgba(18, 18, 18, 0.4); }
  .input > input:disabled {
    opacity: .2; }

.input.input--invalid > input {
  border-color: red; }

.select {
  position: relative; }
  .select__tag {
    display: block;
    width: 100%;
    padding: .5rem 2.5rem .5rem .75rem;
    border: 1px solid rgba(18, 18, 18, 0.4); }
    .select__tag + .select__arrow {
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      display: block;
      pointer-events: none;
      border-top: 0.4rem solid #969696;
      border-right: .4rem solid transparent;
      border-left: .4rem solid transparent; }
    .select__tag:disabled {
      opacity: .2; }
  .select.select--invalid > .select__tag {
    border-color: red; }

.textarea > textarea {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  border: 1px solid rgba(18, 18, 18, 0.4); }
  .textarea > textarea:disabled {
    opacity: .2; }

.textarea.textarea--invalid > textarea {
  border-color: red; }

.checkbox {
  width: 3rem;
  height: 3rem;
  position: relative;
  display: inline-block;
  vertical-align: top; }
  .checkbox__tag {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0; }
    .checkbox__tag + .checkbox__box {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: #fff;
      border: 1px solid rgba(18, 18, 18, 0.4); }
      .checkbox__tag + .checkbox__box::after {
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #121212;
        content: "";
        transition: all 0.2s; }
    .checkbox__tag:checked + .checkbox__box::after {
      width: 1.5rem;
      height: 1.5rem; }
    .checkbox__tag:disabled + .checkbox__box {
      opacity: .2; }
  .checkbox.checkbox--invalid > .checkbox__tag + .checkbox__box {
    border-color: red; }

.radio {
  width: 3rem;
  height: 3rem;
  position: relative;
  display: inline-block;
  vertical-align: top; }
  .radio__tag {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0; }
    .radio__tag + .radio__box {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: #fff;
      border: 1px solid rgba(18, 18, 18, 0.4);
      border-radius: 50%; }
      .radio__tag + .radio__box::after {
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #121212;
        border-radius: 50%;
        content: "";
        transition: all 0.2s; }
    .radio__tag:checked + .radio__box::after {
      width: 1.5rem;
      height: 1.5rem; }
    .radio__tag:disabled + .radio__box {
      opacity: .2; }
  .radio.radio--invalid .radio__tag + .radio__box {
    border-color: red; }

.label.label--checkbox {
  position: relative;
  display: inline-block;
  padding-left: 4.5rem; }
  .label.label--checkbox .checkbox {
    position: absolute;
    top: 0;
    left: 0; }

.label.label--radio {
  position: relative;
  display: inline-block;
  padding-left: 4.5rem; }
  .label.label--radio .radio {
    position: absolute;
    top: 0;
    left: 0; }

@font-face {
  src: url("fonts/rub/arial/alsrubl-arial-regular.woff") format("woff");
  font-family: ALSRubl-Arial;
  font-style: normal;
  font-weight: 400; }

@font-face {
  src: url("fonts/rub/arial/alsrubl-arial-italic.woff") format("woff");
  font-family: ALSRubl-Arial;
  font-style: italic;
  font-weight: 400; }

@font-face {
  src: url("fonts/rub/arial/alsrubl-arial-bold.woff") format("woff");
  font-family: ALSRubl-Arial;
  font-style: normal;
  font-weight: 700; }

@font-face {
  src: url("fonts/rub/arial/alsrubl-arial-bolditalic.woff") format("woff");
  font-family: ALSRubl-Arial;
  font-style: italic;
  font-weight: 700; }

.rub-sans {
  font-family: ALSRubl-Arial, Arial, sans-serif;
  line-height: normal; }

@font-face {
  src: url("fonts/rub/times/alsrubl-times-regular.woff") format("woff");
  font-family: ALSRubl-Times;
  font-style: normal;
  font-weight: 400; }

@font-face {
  src: url("fonts/rub/times/alsrubl-times-italic.woff") format("woff");
  font-family: ALSRubl-Times;
  font-style: italic;
  font-weight: 400; }

@font-face {
  src: url("fonts/rub/times/alsrubl-times-bold.woff") format("woff");
  font-family: ALSRubl-Times;
  font-style: normal;
  font-weight: 700; }

@font-face {
  src: url("fonts/rub/times/alsrubl-times-bolditalic.woff") format("woff");
  font-family: ALSRubl-Times;
  font-style: italic;
  font-weight: 700; }

.rub-serif {
  font-family: ALSRubl-Times, "Times New Roman", Times, serif;
  line-height: normal; }

@font-face {
  font-family: 'Proxima-Nova-Bold';
  src: url("fonts/ProximaNova/ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Proxima-Nova-Lt';
  src: url("fonts/ProximaNova/ProximaNova-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Proxima-Nova-Rg';
  src: url("fonts/ProximaNova/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.icon {
  fill: #121212;
  fill-rule: evenodd;
  transition: fill 0.2s; }
  .icon.icon--20 {
    width: 2rem;
    height: 2rem; }

.link.link--current {
  cursor: default;
  text-decoration: none; }
  .link.link--current:visited, .link.link--current:hover, .link.link--current:active {
    color: inherit; }

.link.link--pseudo {
  text-decoration: underline dotted rgba(0, 0, 255, 0.8); }

.wysiwyg > h1:not(:first-child),
.wysiwyg > h2:not(:first-child),
.wysiwyg > h3:not(:first-child),
.wysiwyg > h4:not(:first-child),
.wysiwyg > h5:not(:first-child),
.wysiwyg > h6:not(:first-child) {
  margin-top: 4rem; }

.wysiwyg > h1:not(:last-child),
.wysiwyg > h2:not(:last-child),
.wysiwyg > h3:not(:last-child),
.wysiwyg > h4:not(:last-child),
.wysiwyg > h5:not(:last-child),
.wysiwyg > h6:not(:last-child) {
  margin-bottom: 2rem; }

.wysiwyg > blockquote {
  padding-left: 4rem;
  border-left: 1px solid rgba(18, 18, 18, 0.4); }
  .wysiwyg > blockquote:not(:first-child) {
    margin-top: 4rem; }
  .wysiwyg > blockquote:not(:last-child) {
    margin-bottom: 4rem; }
  .wysiwyg > blockquote > p {
    font-size: 1.8rem;
    line-height: 1.44444; }
  .wysiwyg > blockquote > footer {
    margin-top: 1rem; }

.wysiwyg > img {
  display: block; }

.wysiwyg > figure:not(:first-child) {
  margin-top: 4rem; }

.wysiwyg > figure:not(:last-child) {
  margin-bottom: 4rem; }

.wysiwyg > figure > img {
  display: block; }

.wysiwyg > figure > figcaption {
  margin-top: 1rem;
  color: #969696; }

.wysiwyg > img:not(:first-child) {
  margin-top: 4rem; }

.wysiwyg > img:not(:last-child) {
  margin-bottom: 4rem; }

.wysiwyg > dl:not(:first-child) {
  margin-top: 4rem; }

.wysiwyg > dl:not(:last-child) {
  margin-bottom: 4rem; }

.wysiwyg > dl > dt {
  margin-bottom: 1rem;
  font-weight: 300; }

.wysiwyg > ol {
  list-style: decimal; }

.wysiwyg > ul {
  list-style: none; }
  .wysiwyg > ul > li {
    position: relative;
    padding-left: 2.4rem; }
    .wysiwyg > ul > li::before {
      width: 0.4rem;
      height: 0.4rem;
      position: absolute;
      left: 1rem;
      border-radius: 50%;
      background: #095dbb;
      content: ''; }
      @media all and (max-width: 767px) {
        .wysiwyg > ul > li::before {
          top: 1rem; } }
      @media all and (min-width: 768px) {
        .wysiwyg > ul > li::before {
          top: .75rem; } }
      @media all and (min-width: 1440px) {
        .wysiwyg > ul > li::before {
          top: .95rem; } }

.wysiwyg > ol ol,
.wysiwyg > ul ol {
  list-style: decimal; }

.wysiwyg > ol ul,
.wysiwyg > ul ul {
  list-style: none; }

.wysiwyg > ol:not(:first-child),
.wysiwyg > ul:not(:first-child) {
  margin-top: 2rem; }

.wysiwyg > ol:not(:last-child),
.wysiwyg > ul:not(:last-child) {
  margin-bottom: 2rem; }

.wysiwyg > ol ol:not(:first-child),
.wysiwyg > ol ul:not(:first-child),
.wysiwyg > ul ol:not(:first-child),
.wysiwyg > ul ul:not(:first-child) {
  margin-top: 1rem; }

.wysiwyg > ol ol:not(:last-child),
.wysiwyg > ol ul:not(:last-child),
.wysiwyg > ul ol:not(:last-child),
.wysiwyg > ul ul:not(:last-child) {
  margin-bottom: 1rem; }

.wysiwyg > ol li,
.wysiwyg > ul li {
  margin-top: 1rem; }

.wysiwyg > p:not(:first-child) {
  margin-top: 2rem; }

.wysiwyg > p:not(:last-child) {
  margin-bottom: 2rem; }

.wysiwyg__table {
  overflow-x: auto; }
  .wysiwyg__table:not(:first-child) {
    margin-top: 4rem; }
  .wysiwyg__table:not(:last-child) {
    margin-bottom: 4rem; }
  .wysiwyg__table > table {
    width: 100%;
    table-layout: fixed; }
    .wysiwyg__table > table caption {
      color: #969696;
      text-align: right; }
    .wysiwyg__table > table th {
      border-bottom: 1px solid #ccc;
      text-align: left; }
    .wysiwyg__table > table td {
      border-bottom: 1px solid #eee; }
    .wysiwyg__table > table th,
    .wysiwyg__table > table td {
      padding-top: .5rem;
      padding-bottom: .5rem; }
      .wysiwyg__table > table th:not(:first-child),
      .wysiwyg__table > table td:not(:first-child) {
        padding-left: .5rem; }
      .wysiwyg__table > table th:not(:last-child),
      .wysiwyg__table > table td:not(:last-child) {
        padding-right: .5rem; }

.wysiwyg__video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .wysiwyg__video:not(:first-child) {
    margin-top: 4rem; }
  .wysiwyg__video:not(:last-child) {
    margin-bottom: 4rem; }
  .wysiwyg__video > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

.page {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .page main {
    position: relative;
    flex: 1; }

.container {
  margin-right: auto;
  margin-left: auto; }
  @media all and (max-width: 767px) {
    .container {
      max-width: 100%; } }
  @media all and (min-width: 768px) {
    .container {
      max-width: 768px; } }
  @media all and (min-width: 1440px) {
    .container {
      max-width: 1440px; } }
  @media all and (max-width: 767px) {
    .container {
      padding-right: 1.5rem;
      padding-left: 1.5rem; } }
  @media all and (min-width: 768px) {
    .container {
      padding-right: 3rem;
      padding-left: 3rem; } }
  @media all and (min-width: 1440px) {
    .container {
      padding-right: 4rem;
      padding-left: 4rem; } }

.site-header {
  line-height: 1;
  border-bottom: 1px solid #e0e0e0;
  background: #f0f0f0; }
  @media all and (min-width: 1440px) {
    .site-header {
      border: 0; } }
  .site-header__grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0 2.9rem; }
    @media all and (min-width: 1440px) {
      .site-header__grid {
        padding: 3rem 0; } }
  .site-header__logo-box {
    max-width: 11.5rem;
    display: block; }
    @media all and (min-width: 768px) {
      .site-header__logo-box {
        max-width: 16rem; } }
    .site-header__logo-box > img {
      width: auto;
      vertical-align: top; }

.site-footer__promo {
  padding: 5.5rem 0;
  background: #095dbb; }

.site-footer__navigate {
  display: flex;
  justify-content: center; }
  @media all and (max-width: 767px) {
    .site-footer__navigate {
      flex-direction: column;
      align-items: center; } }
  @media all and (min-width: 768px) {
    .site-footer__navigate {
      justify-content: space-between; } }
  @media all and (min-width: 1440px) {
    .site-footer__navigate {
      justify-content: center; } }
  @media all and (max-width: 767px) {
    .site-footer__navigate > .button {
      margin-top: 3rem; } }
  @media all and (min-width: 768px) {
    .site-footer__navigate > .button {
      margin-left: 3rem; } }

.site-footer__next-link {
  transition: 0.6s;
  text-align: center;
  color: #fff; }
  .mod_no-touchevents .site-footer__next-link:hover, .mod_no-touchevents .site-footer__next-link.hover {
    opacity: 0.85; }
  @media all and (min-width: 768px) {
    .site-footer__next-link {
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  @media all and (min-width: 1440px) {
    .site-footer__next-link {
      display: inline-flex;
      justify-content: center;
      align-items: center; } }
  .site-footer__next-link > span {
    font-size: 2.4rem;
    line-height: 1.25; }
    .site-footer__next-link > span > b {
      font-family: "roxima-Nova-Bold", "HelveticaNeue", "Helvetica Neue", sans-serif; }

.site-footer__contact {
  padding: 3.5rem 0; }
  @media all and (min-width: 768px) {
    .site-footer__contact {
      padding: 2rem 0; } }

.site-footer__contact-grid {
  display: flex; }
  @media all and (max-width: 767px) {
    .site-footer__contact-grid {
      flex-direction: column;
      text-align: center; }
      .site-footer__contact-grid > p {
        order: 2; } }
  @media all and (min-width: 768px) {
    .site-footer__contact-grid {
      justify-content: space-between;
      align-items: center; }
      .site-footer__contact-grid > p {
        font-size: 2.4rem;
        line-height: 1.25;
        order: 1; } }
  .site-footer__contact-grid > p {
    font-size: 1.4rem;
    line-height: 1.42857;
    color: #969696; }
    @media all and (min-width: 768px) {
      .site-footer__contact-grid > p > br {
        display: none; } }

.site-footer__mail-link {
  font-size: 1.6rem;
  line-height: 1;
  order: 1;
  display: inline-flex;
  align-items: center;
  color: #636363; }
  .mod_no-touchevents .site-footer__mail-link:hover, .mod_no-touchevents .site-footer__mail-link.hover {
    opacity: 0.85; }
  @media all and (max-width: 767px) {
    .site-footer__mail-link {
      margin: 0 auto 1rem; } }
  @media all and (min-width: 768px) {
    .site-footer__mail-link {
      order: 2; } }
  .site-footer__mail-link > img {
    margin-right: 1rem;
    vertical-align: top; }
  .site-footer__mail-link > span {
    display: block; }

.section-box {
  padding: 6rem 0;
  background: #f0f0f0; }
  @media all and (min-width: 1440px) {
    .section-box:first-child {
      padding-top: 16rem; } }
  @media all and (min-width: 1440px) {
    .section-box {
      padding: 7rem 0 10rem; } }
  .section-box:nth-child(2n) {
    background: #fff; }

@media all and (min-width: 768px) {
  .content-grid {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap; } }
  @media all and (min-width: 768px) and (max-width: 767px) {
    .content-grid {
      margin-right: -1.5rem;
      margin-left: -1.5rem; } }
  @media all and (min-width: 768px) and (min-width: 768px) {
    .content-grid {
      margin-right: -3rem;
      margin-left: -3rem; } }
  @media all and (min-width: 768px) and (min-width: 1440px) {
    .content-grid {
      margin-right: -4rem;
      margin-left: -4rem; } }

@media all and (min-width: 1440px) {
  .content-grid__header {
    padding-top: 4rem; } }

.content-grid__header > h1 {
  font-family: "Proxima-Nova-Lt", "HelveticaNeue", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 3rem;
  line-height: 1.46667; }
  .content-grid__header > h1 a {
    text-decoration: none; }
  @media all and (min-width: 1440px) {
    .content-grid__header > h1 {
      font-size: 3.8rem;
      line-height: 1.15789; } }
  @media all and (min-width: 1440px) {
    .content-grid__header > h1 {
      margin-bottom: 1rem; } }

.content-grid__header > h2 {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "roxima-Nova-Bold", "HelveticaNeue", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-weight: 700; }
  @media all and (min-width: 1440px) {
    .content-grid__header > h2 {
      font-size: 1.8rem;
      line-height: 1.33333; } }
  @media all and (min-width: 1440px) {
    .content-grid__header > h2 {
      margin-bottom: 3rem; } }

@media all and (max-width: 767px) {
  .content-grid__image {
    margin: 0 -1.5rem 3rem;
    overflow: hidden; } }

@media all and (min-width: 768px) {
  .content-grid__image {
    width: 35%; } }
  @media all and (min-width: 768px) and (max-width: 767px) {
    .content-grid__image {
      padding-right: 1.5rem;
      padding-left: 1.5rem; } }
  @media all and (min-width: 768px) and (min-width: 768px) {
    .content-grid__image {
      padding-right: 3rem;
      padding-left: 3rem; } }
  @media all and (min-width: 768px) and (min-width: 1440px) {
    .content-grid__image {
      padding-right: 4rem;
      padding-left: 4rem; } }

@media all and (min-width: 1440px) {
  .content-grid__image {
    width: 50%;
    display: flex;
    justify-content: center;
    padding-left: 12rem; } }

.content-grid__image > img {
  width: auto;
  height: auto;
  vertical-align: top;
  transform: translateX(8%); }
  @media all and (min-width: 1440px) {
    .content-grid__image > img {
      transform: translateX(0); } }

@media all and (min-width: 768px) {
  .content-grid__description {
    width: 65%; } }
  @media all and (min-width: 768px) and (max-width: 767px) {
    .content-grid__description {
      padding-right: 1.5rem;
      padding-left: 1.5rem; } }
  @media all and (min-width: 768px) and (min-width: 768px) {
    .content-grid__description {
      padding-right: 3rem;
      padding-left: 3rem; } }
  @media all and (min-width: 768px) and (min-width: 1440px) {
    .content-grid__description {
      padding-right: 4rem;
      padding-left: 4rem; } }

@media all and (min-width: 1440px) {
  .content-grid__description {
    width: 50%; } }

.content-grid__button-box {
  margin-top: 3rem; }
  @media all and (max-width: 767px) {
    .content-grid__button-box {
      text-align: center; } }
  @media all and (min-width: 1440px) {
    .content-grid__button-box {
      margin-top: 5rem; } }
